<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ChatAssistantEnabled" value="false" />
    <add key="ChatApiBaseUrl" value="http://localhost:5188" />
  </appSettings>
  <connectionStrings>
    <add name="QuanLyThuVien" connectionString="Server=.\SQLEXPRESS;Database=QuanLyThuVien;Trusted_Connection=True;TrustServerCertificate=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
